@charset "utf-8";

body{
    background-color: aqua;
}

h1 {
    background-color: orange;
}
#txt1{
    color:aliceblue;
}

#txt2{
    color: aqua;
}

#txt3 {
    color: darkblue;
}

#txt4 {
    color: blue;
}