@charset "utf-8";


body {
    max-width: 950px; min-width: 950px;
    height: 820px;
    border: #eeb0b0 5px solid;
    margin: 30px auto;
    background-image: url(images/overhead-view-of-wooden-table-background-texture_84485-1363.jpg);
    background-position: center;
    background-size: cover;
}
h1{
    font-family: 'Comic Sans' sans-serif;
    width: 940px; height: 134px;
    text-transform: capitalize;
    margin: 0 auto;    
    background-position: 20px;
    background-color: #7d1e6a;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/14/Ban_sign.png);
    background-size: 100px;
    background-repeat: no-repeat;
    color: #fff;
    padding-left: 140px;
    font-size: 33px;
    padding-top: 20px;
}
article ul {
    width: 940px; height: 42px;
    background-color: #ffcd38;
}

article ul li {
    float: left;
    margin-top: 10px;
}
article ul a {    
    color: #7d1e6a;
    background-color: #ffcd38;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
}

main {
    width: 660px; height: 600px;
    background-color: rgb(245, 245, 245);
    margin: 0;
    float: left;
    border-right: 1px solid red;
}
section {
    width: 304px; height: 230px;
    box-sizing: border-box;
    border: 1px solid red;
    margin-top: 30px;
    margin-left: 20px;

}
#conteiner1 {
    background: url(images/1613545788294_0.jpg) no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}
section h2 {
    width: 950px;
    padding-left: 330px;
    font-size: 24px;
    font-weight: bold;

}
section h3 {
    width: 950px;
    padding-left: 330px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    padding-top: 31px;
    padding-bottom: 31px;

}
section p {
    width: 950px;
    padding-left: 330px;

}
#conteiner2 {
    background: url(images/1638774570654_0.png) no-repeat;
    background-size: cover;
}

aside {
    width: 280px;
    height: 600px;
    background-color: #fff;
    display: block;
    float: left;
}
aside h2 {
    color: red;
    font-size: 24px;
    font-weight: bold;
    padding: 35px;
    padding-left: 18px;
}

aside li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 9px;
    padding-left: 18px;
    font-size: 20px;
    line-height: 33px;
}
aside li:nth-child(even) {

    border: 1px solid red;
    border-right: 0;
    border-left: 0;
}
aside li a:hover {
    background-color: #ffcd38;
}
footer {
    display: inline-block;
    width: 940px;
    height: 34px;
    background-color: #7d1e6a;
    color: #fff;
    font-size: 20px;
}
aside p {
    padding-left: 18px;
    font-size: 20px;
}
footer p {
    padding-left: 20px;
    line-height: 34px;
    font-size: 15px;
}